{
  "openapi": "3.1.0",
  "info": {
    "title": "VolStrata Public API",
    "version": "2026-09-09",
    "summary": "Options-gamma, greeks, flow, valuation and market-context capabilities, projected from the capability catalogue.",
    "description": "Generated from the published capability catalogue.\n\nEvery path is the canonical `/api/v1` spelling — the ONE surface (the /api/v2 alias is retired).\n\nEach operation carries its plan/entitlement floor (`x-plan-tier` slug, `x-plan-tier-name` customer-facing name, `x-policy-key`). Widget-feeding JSON reads fold in the shared `freshness` contract (`components.schemas.Freshness`) and the `delivery` contract (`components.schemas.Delivery`), which states whether a body is the live or a delayed lane and what would clear the delay. A small set of published literal-path reads (the daily-proof scorecard, the forecast backtest, the exposure projection and the Master Read) are projected alongside the catalogue.\n\nTELLING OUR REFUSALS FROM THE EDGE'S (write your client against this): every refusal issued by this API is RFC 9457 JSON (`application/problem+json`) carrying a `type` URL, a stable `code`, a `request_id`, and `ok: false`. If a refusal body is NOT JSON, it never reached us — it came from the CDN edge, which answers in `text/plain` (measured example: the Python stdlib's default `Python-urllib/*` User-Agent is refused 403 at the edge with a plain-text `error code: 1010` before we ever see the request; set any User-Agent, or use `requests`/`curl`). And check the HTTP status before the body shape: a rate-limit refusal is `429` with `code: \"rate_limited\"` and `ok: false` — a collector that only reads `body[\"series\"]` off a 429 records a normal empty day, which is a silent wrong answer, not a missing one.",
    "termsOfService": "https://volstrata.com/legal/terms",
    "license": {
      "name": "Proprietary - API access is governed by the VolStrata Terms of Service",
      "url": "https://volstrata.com/legal/terms"
    },
    "contact": {
      "name": "VolStrata",
      "url": "https://volstrata.com",
      "email": "support@volstrata.com"
    },
    "x-copyright": "Copyright 2026 Volstrata.com - https://volstrata.com",
    "x-api-version": "2026-09-09",
    "x-catalog-fingerprint": "sha256:effea7406006c1cf2af82b839dfafb1934a227cc0e4ddad4b88d5134b04d95c2",
    "x-base": "/api/v1"
  },
  "servers": [
    {
      "url": "https://volstrata.com",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "accuracy",
      "description": "accuracy capabilities (6)"
    },
    {
      "name": "ai",
      "description": "ai capabilities (5)"
    },
    {
      "name": "alerts",
      "description": "alerts capabilities (2)"
    },
    {
      "name": "analytics",
      "description": "analytics capabilities (1)"
    },
    {
      "name": "backtest",
      "description": "backtest capabilities (2)"
    },
    {
      "name": "briefing",
      "description": "briefing capabilities (2)"
    },
    {
      "name": "calendar",
      "description": "calendar capabilities (3)"
    },
    {
      "name": "chain",
      "description": "chain capabilities (1)"
    },
    {
      "name": "compare",
      "description": "compare capabilities (1)"
    },
    {
      "name": "crypto",
      "description": "crypto capabilities (8)"
    },
    {
      "name": "cvd",
      "description": "cvd capabilities (2)"
    },
    {
      "name": "dealergamma",
      "description": "dealergamma capabilities (2)"
    },
    {
      "name": "docs",
      "description": "docs capabilities (2)"
    },
    {
      "name": "earnings",
      "description": "earnings capabilities (1)"
    },
    {
      "name": "exposure",
      "description": "exposure capabilities (2)"
    },
    {
      "name": "flow",
      "description": "flow capabilities (1)"
    },
    {
      "name": "forecast",
      "description": "forecast capabilities (3)"
    },
    {
      "name": "fundamentals",
      "description": "fundamentals capabilities (1)"
    },
    {
      "name": "gammapin",
      "description": "gammapin capabilities (1)"
    },
    {
      "name": "gate",
      "description": "gate capabilities (4)"
    },
    {
      "name": "gex",
      "description": "gex capabilities (16)"
    },
    {
      "name": "government",
      "description": "government capabilities (1)"
    },
    {
      "name": "greeks",
      "description": "greeks capabilities (11)"
    },
    {
      "name": "ict",
      "description": "ict capabilities (3)"
    },
    {
      "name": "insider",
      "description": "insider capabilities (2)"
    },
    {
      "name": "journal",
      "description": "journal capabilities (1)"
    },
    {
      "name": "legislation",
      "description": "legislation capabilities (1)"
    },
    {
      "name": "levels",
      "description": "levels capabilities (7)"
    },
    {
      "name": "market",
      "description": "market capabilities (8)"
    },
    {
      "name": "meta",
      "description": "meta capabilities (3)"
    },
    {
      "name": "news",
      "description": "news capabilities (1)"
    },
    {
      "name": "options_activity",
      "description": "options_activity capabilities (1)"
    },
    {
      "name": "orderflow",
      "description": "orderflow capabilities (4)"
    },
    {
      "name": "portfolio",
      "description": "portfolio capabilities (1)"
    },
    {
      "name": "render",
      "description": "render capabilities (3)"
    },
    {
      "name": "research",
      "description": "research capabilities (4)"
    },
    {
      "name": "scanner",
      "description": "scanner capabilities (3)"
    },
    {
      "name": "screener",
      "description": "screener capabilities (2)"
    },
    {
      "name": "sigmaflow",
      "description": "sigmaflow capabilities (1)"
    },
    {
      "name": "smartmoney",
      "description": "smartmoney capabilities (1)"
    },
    {
      "name": "smt",
      "description": "smt capabilities (1)"
    },
    {
      "name": "social",
      "description": "social capabilities (5)"
    },
    {
      "name": "squeeze",
      "description": "squeeze capabilities (1)"
    },
    {
      "name": "state",
      "description": "state capabilities (4)"
    },
    {
      "name": "statistics",
      "description": "statistics capabilities (1)"
    },
    {
      "name": "stats",
      "description": "stats capabilities (8)"
    },
    {
      "name": "status",
      "description": "status capabilities (1)"
    },
    {
      "name": "strategy",
      "description": "strategy capabilities (2)"
    },
    {
      "name": "symbol",
      "description": "symbol capabilities (2)"
    },
    {
      "name": "ta",
      "description": "ta capabilities (1)"
    },
    {
      "name": "timegradient",
      "description": "timegradient capabilities (3)"
    },
    {
      "name": "valuation",
      "description": "valuation capabilities (15)"
    },
    {
      "name": "vix",
      "description": "vix capabilities (1)"
    },
    {
      "name": "vol",
      "description": "vol capabilities (6)"
    },
    {
      "name": "voloi",
      "description": "voloi capabilities (3)"
    },
    {
      "name": "volumeprofile",
      "description": "volumeprofile capabilities (2)"
    }
  ],
  "paths": {
    "/api/v1/gex/bars": {
      "get": {
        "operationId": "gex.bars",
        "summary": "gex.bars (Free)",
        "description": "`gex.bars` capability. Public (Free tier). Advertised canonical route. Alias of GET /api/v1/research/gex/<ticker>.",
        "tags": [
          "gex"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid params / cursor).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-plan-tier": "free",
        "x-plan-tier-name": "Free",
        "x-policy-key": "public",
        "x-aliases": "GET /api/v1/research/gex/<ticker>",
        "security": [],
        "x-anonymous-access": "yes",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "SPX"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          }
        ]
      }
    },
    "/api/v1/gex/levels": {
      "get": {
        "operationId": "gex.levels",
        "summary": "gex.levels (Free)",
        "description": "`gex.levels` capability. Public (Free tier). Advertised canonical route. Alias of GET /api/v1/research/levels/<ticker>.",
        "tags": [
          "gex"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid params / cursor).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-plan-tier": "free",
        "x-plan-tier-name": "Free",
        "x-policy-key": "public",
        "x-aliases": "GET /api/v1/research/levels/<ticker>",
        "security": [],
        "x-anonymous-access": "yes",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "SPX"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          }
        ]
      }
    },
    "/api/v1/gex/metrics": {
      "get": {
        "operationId": "gex.metrics",
        "summary": "gex.metrics (Free)",
        "description": "Bulk scalar metrics off the latest cached frame: net GEX, regime, zero-gamma, max-pain, walls, EM bounds, ATM IV, skew. `regime` is derived at serve time from the values printed in this same body and `regime_basis` names the definition used — `net_gex_sign` (the sign of `net_gex_bn`) when a net figure is present, else `spot_vs_zero_gamma` (spot vs `zg`). The two definitions agree at the daily close but genuinely disagree on a meaningful share of intraday frames, so compare `regime` across endpoints only together with its basis.",
        "tags": [
          "gex"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid params / cursor).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-plan-tier": "free",
        "x-plan-tier-name": "Free",
        "x-policy-key": "public",
        "x-aliases": "GET /api/v1/research/metrics/<ticker>",
        "security": [],
        "x-anonymous-access": "yes",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "SPX"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          }
        ]
      }
    },
    "/api/v1/gex/gamma_flip": {
      "get": {
        "operationId": "gex.gamma_flip",
        "summary": "gex.gamma_flip (Free)",
        "description": "The zero-gamma flip scalar plus the current regime. `regime` is derived from this body's own `spot` vs `gamma_flip` and `regime_basis` says so (`spot_vs_zero_gamma`) — reproducible from the response itself. Note the sibling net-GEX-sign definition (dealergamma.history, gex.metrics when net is present) agrees at the daily close but can disagree intraday.",
        "tags": [
          "gex"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid params / cursor).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-plan-tier": "free",
        "x-plan-tier-name": "Free",
        "x-policy-key": "public",
        "x-aliases": "GET /api/v1/research/gamma_flip/<ticker>",
        "security": [],
        "x-anonymous-access": "yes",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "SPX"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          }
        ]
      }
    },
    "/api/v1/gex/maxpain": {
      "get": {
        "operationId": "gex.maxpain",
        "summary": "gex.maxpain (Free)",
        "description": "`gex.maxpain` capability. Public (Free tier). Advertised canonical route. Alias of GET /api/v1/research/maxpain/<ticker>.",
        "tags": [
          "gex"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid params / cursor).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-plan-tier": "free",
        "x-plan-tier-name": "Free",
        "x-policy-key": "public",
        "x-aliases": "GET /api/v1/research/maxpain/<ticker>",
        "security": [],
        "x-anonymous-access": "yes",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "SPX"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          }
        ]
      }
    },
    "/api/v1/gex/snapshot": {
      "get": {
        "operationId": "gex.snapshot",
        "summary": "gex.snapshot (Edge)",
        "description": "`gex.snapshot` capability. Requires the Edge plan or above. Advertised canonical route. Alias of GET /api/v1/data.json.",
        "tags": [
          "gex"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid params / cursor).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required (anonymous caller on a credentialed route).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "402": {
            "description": "Upgrade required — plan tier below the capability's floor.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — role below the floor.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-plan-tier": "edge",
        "x-plan-tier-name": "Edge",
        "x-policy-key": "terminal",
        "x-aliases": "GET /api/v1/data.json",
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "ApiKeyQuery": []
          }
        ],
        "x-anonymous-access": "no",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "SPX"
            }
          },
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "view",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "net"
            }
          },
          {
            "name": "greek",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "gamma"
            }
          },
          {
            "name": "at",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "latest"
            }
          },
          {
            "name": "analysis",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "false"
            }
          },
          {
            "name": "predict",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "false"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "fc",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "false"
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/gex/walls": {
      "get": {
        "operationId": "gex.walls",
        "summary": "gex.walls (Edge)",
        "description": "`gex.walls` capability. Requires the Edge plan or above. Advertised canonical route. Alias of GET /api/v1/research/walls/<ticker>.",
        "tags": [
          "gex"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid params / cursor).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required (anonymous caller on a credentialed route).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "402": {
            "description": "Upgrade required — plan tier below the capability's floor.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — role below the floor.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-plan-tier": "edge",
        "x-plan-tier-name": "Edge",
        "x-policy-key": "terminal",
        "x-aliases": "GET /api/v1/research/walls/<ticker>",
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "ApiKeyQuery": []
          }
        ],
        "x-anonymous-access": "no",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "SPX"
            }
          },
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          }
        ]
      }
    },
    "/api/v1/greeks/gamma": {
      "get": {
        "operationId": "greeks.gamma",
        "summary": "greeks.gamma (Free)",
        "description": "`greeks.gamma` capability. Public (Free tier). Advertised canonical route. Alias of GET /api/v1/research/gamma/<ticker>.",
        "tags": [
          "greeks"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid params / cursor).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-plan-tier": "free",
        "x-plan-tier-name": "Free",
        "x-policy-key": "public",
        "x-aliases": "GET /api/v1/research/gamma/<ticker>",
        "security": [],
        "x-anonymous-access": "yes",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "SPX"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          }
        ]
      }
    },
    "/api/v1/greeks/dex": {
      "get": {
        "operationId": "greeks.dex",
        "summary": "greeks.dex (Edge)",
        "description": "`greeks.dex` capability. Requires the Edge plan or above. Advertised canonical route. Alias of GET /api/v1/research/dex/<ticker>.",
        "tags": [
          "greeks"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid params / cursor).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required (anonymous caller on a credentialed route).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "402": {
            "description": "Upgrade required — plan tier below the capability's floor.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — role below the floor.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-plan-tier": "edge",
        "x-plan-tier-name": "Edge",
        "x-policy-key": "terminal",
        "x-aliases": "GET /api/v1/research/dex/<ticker>",
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "ApiKeyQuery": []
          }
        ],
        "x-anonymous-access": "no",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "SPX"
            }
          },
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "at",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "latest"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          }
        ]
      }
    },
    "/api/v1/vol/iv": {
      "get": {
        "operationId": "vol.iv",
        "summary": "vol.iv (Free)",
        "description": "`vol.iv` capability. Public (Free tier). Advertised canonical route. Alias of GET /api/v1/research/iv/<ticker>.",
        "tags": [
          "vol"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid params / cursor).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-plan-tier": "free",
        "x-plan-tier-name": "Free",
        "x-policy-key": "public",
        "x-aliases": "GET /api/v1/research/iv/<ticker>",
        "security": [],
        "x-anonymous-access": "yes",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "SPX"
            }
          },
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          }
        ]
      }
    },
    "/api/v1/vol/surface": {
      "get": {
        "operationId": "vol.surface",
        "summary": "vol.surface (Pro)",
        "description": "`vol.surface` capability. Requires the Pro plan or above. Advertised canonical route. Alias of GET /api/v1/surface.json.",
        "tags": [
          "vol"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid params / cursor).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required (anonymous caller on a credentialed route).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "402": {
            "description": "Upgrade required — plan tier below the capability's floor.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — role below the floor.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-plan-tier": "pro",
        "x-plan-tier-name": "Pro",
        "x-policy-key": "surface",
        "x-aliases": "GET /api/v1/surface.json",
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "ApiKeyQuery": []
          }
        ],
        "x-anonymous-access": "no",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "SPX"
            }
          },
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "expiry",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          }
        ]
      }
    },
    "/api/v1/forecast/cone": {
      "get": {
        "operationId": "forecast.cone",
        "summary": "forecast.cone (Pro)",
        "description": "`forecast.cone` capability. Requires the Pro plan or above. Advertised canonical route. Alias of GET /api/v1/forecast.json.",
        "tags": [
          "forecast"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid params / cursor).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required (anonymous caller on a credentialed route).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "402": {
            "description": "Upgrade required — plan tier below the capability's floor.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — role below the floor.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-plan-tier": "pro",
        "x-plan-tier-name": "Pro",
        "x-policy-key": "forecast",
        "x-aliases": "GET /api/v1/forecast.json",
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "ApiKeyQuery": []
          }
        ],
        "x-anonymous-access": "no",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "SPX"
            }
          },
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          }
        ]
      }
    },
    "/api/v1/market/status": {
      "get": {
        "operationId": "market.status",
        "summary": "market.status (Free)",
        "description": "`market.status` capability. Free tier (no paid plan needed), but a credential is required. Advertised canonical route. Alias of GET /api/v1/market_status.json.",
        "tags": [
          "market"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid params / cursor).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required (anonymous caller on a credentialed route).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-plan-tier": "free",
        "x-plan-tier-name": "Free",
        "x-policy-key": "public",
        "x-aliases": "GET /api/v1/market_status.json",
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "ApiKeyQuery": []
          }
        ],
        "x-anonymous-access": "no",
        "parameters": [
          {
            "name": "tickers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "SPX"
            }
          },
          {
            "name": "fresh_within_sec",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "900"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          }
        ]
      }
    },
    "/api/v1/gex/four": {
      "get": {
        "operationId": "gex.four",
        "summary": "gex.four (Edge)",
        "description": "`gex.four` capability. Requires the Edge plan or above. Advertised canonical route. Alias of GET /api/v1/four.json.",
        "tags": [
          "gex"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid params / cursor).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required (anonymous caller on a credentialed route).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "402": {
            "description": "Upgrade required — plan tier below the capability's floor.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — role below the floor.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-plan-tier": "edge",
        "x-plan-tier-name": "Edge",
        "x-policy-key": "terminal",
        "x-aliases": "GET /api/v1/four.json",
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "ApiKeyQuery": []
          }
        ],
        "x-anonymous-access": "no",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "SPX"
            }
          },
          {
            "name": "view",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "net"
            }
          },
          {
            "name": "greek",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "gamma"
            }
          },
          {
            "name": "at",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "latest"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "fc",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "false"
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/timegradient/grid": {
      "get": {
        "operationId": "timegradient.grid",
        "summary": "timegradient.grid (Edge)",
        "description": "`timegradient.grid` capability. Requires the Edge plan or above. Advertised canonical route. Alias of GET /api/v1/heatmap.json.",
        "tags": [
          "timegradient"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid params / cursor).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required (anonymous caller on a credentialed route).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "402": {
            "description": "Upgrade required — plan tier below the capability's floor.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — role below the floor.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-plan-tier": "edge",
        "x-plan-tier-name": "Edge",
        "x-policy-key": "terminal",
        "x-aliases": "GET /api/v1/heatmap.json",
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "ApiKeyQuery": []
          }
        ],
        "x-anonymous-access": "no",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "SPX"
            }
          },
          {
            "name": "metric",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "gex"
            }
          },
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "day",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "fc",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "false"
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/timegradient/expiry": {
      "get": {
        "operationId": "timegradient.expiry",
        "summary": "timegradient.expiry (Edge)",
        "description": "`timegradient.expiry` capability. Requires the Edge plan or above. Advertised canonical route. Alias of GET /api/v1/strikescope.json.",
        "tags": [
          "timegradient"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid params / cursor).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required (anonymous caller on a credentialed route).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "402": {
            "description": "Upgrade required — plan tier below the capability's floor.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — role below the floor.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-plan-tier": "edge",
        "x-plan-tier-name": "Edge",
        "x-policy-key": "terminal",
        "x-aliases": "GET /api/v1/strikescope.json",
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "ApiKeyQuery": []
          }
        ],
        "x-anonymous-access": "no",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "SPX"
            }
          },
          {
            "name": "metric",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "gex",
                "vex"
              ],
              "default": "gex"
            },
            "description": "exposure metric (GEX=gamma / VEX=vanna)"
          },
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "at",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "latest"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "fc",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "false"
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/levels/day": {
      "get": {
        "operationId": "levels.day",
        "summary": "levels.day (Free)",
        "description": "`levels.day` capability. Public (Free tier). Advertised canonical route. Alias of GET /api/v1/research/day_levels/<ticker>.",
        "tags": [
          "levels"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid params / cursor).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-plan-tier": "free",
        "x-plan-tier-name": "Free",
        "x-policy-key": "public",
        "x-aliases": "GET /api/v1/research/day_levels/<ticker>",
        "security": [],
        "x-anonymous-access": "yes",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "SPX"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          }
        ]
      }
    },
    "/api/v1/levels/week": {
      "get": {
        "operationId": "levels.week",
        "summary": "levels.week (Free)",
        "description": "`levels.week` capability. Public (Free tier). Advertised canonical route. Alias of GET /api/v1/research/week_levels/<ticker>.",
        "tags": [
          "levels"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid params / cursor).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-plan-tier": "free",
        "x-plan-tier-name": "Free",
        "x-policy-key": "public",
        "x-aliases": "GET /api/v1/research/week_levels/<ticker>",
        "security": [],
        "x-anonymous-access": "yes",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "SPX"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          }
        ]
      }
    },
    "/api/v1/levels/day_report": {
      "get": {
        "operationId": "levels.day_report",
        "summary": "levels.day_report (Free)",
        "description": "`levels.day_report` capability. Public (Free tier). Advertised canonical route. Alias of GET /api/v1/research/day/<ticker>.",
        "tags": [
          "levels"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid params / cursor).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-plan-tier": "free",
        "x-plan-tier-name": "Free",
        "x-policy-key": "public",
        "x-aliases": "GET /api/v1/research/day/<ticker>",
        "security": [],
        "x-anonymous-access": "yes",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "SPX"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          }
        ]
      }
    },
    "/api/v1/levels/week_report": {
      "get": {
        "operationId": "levels.week_report",
        "summary": "levels.week_report (Free)",
        "description": "`levels.week_report` capability. Public (Free tier). Advertised canonical route. Alias of GET /api/v1/research/week/<ticker>.",
        "tags": [
          "levels"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid params / cursor).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-plan-tier": "free",
        "x-plan-tier-name": "Free",
        "x-policy-key": "public",
        "x-aliases": "GET /api/v1/research/week/<ticker>",
        "security": [],
        "x-anonymous-access": "yes",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "SPX"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          }
        ]
      }
    },
    "/api/v1/squeeze/board": {
      "get": {
        "operationId": "squeeze.board",
        "summary": "squeeze.board (Edge)",
        "description": "`squeeze.board` capability. Requires the Edge plan or above. Advertised canonical route. Alias of GET /api/v1/research/squeeze/<ticker>.",
        "tags": [
          "squeeze"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid params / cursor).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required (anonymous caller on a credentialed route).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "402": {
            "description": "Upgrade required — plan tier below the capability's floor.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — role below the floor.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-plan-tier": "edge",
        "x-plan-tier-name": "Edge",
        "x-policy-key": "terminal",
        "x-aliases": "GET /api/v1/research/squeeze/<ticker>",
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "ApiKeyQuery": []
          }
        ],
        "x-anonymous-access": "no",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "SPX"
            }
          },
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          }
        ]
      }
    },
    "/api/v1/gex/zones": {
      "get": {
        "operationId": "gex.zones",
        "summary": "gex.zones (Edge)",
        "description": "`gex.zones` capability. Requires the Edge plan or above. Advertised canonical route. Alias of GET /api/v1/research/zones/<ticker>.",
        "tags": [
          "gex"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid params / cursor).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required (anonymous caller on a credentialed route).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "402": {
            "description": "Upgrade required — plan tier below the capability's floor.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — role below the floor.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-plan-tier": "edge",
        "x-plan-tier-name": "Edge",
        "x-policy-key": "terminal",
        "x-aliases": "GET /api/v1/research/zones/<ticker>",
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "ApiKeyQuery": []
          }
        ],
        "x-anonymous-access": "no",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "SPX"
            }
          },
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          }
        ]
      }
    },
    "/api/v1/gex/setup": {
      "get": {
        "operationId": "gex.setup",
        "summary": "gex.setup (Edge)",
        "description": "`gex.setup` capability. Requires the Edge plan or above. Advertised canonical route. Alias of GET /api/v1/research/setup/<ticker>.",
        "tags": [
          "gex"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid params / cursor).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required (anonymous caller on a credentialed route).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "402": {
            "description": "Upgrade required — plan tier below the capability's floor.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — role below the floor.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-plan-tier": "edge",
        "x-plan-tier-name": "Edge",
        "x-policy-key": "terminal",
        "x-aliases": "GET /api/v1/research/setup/<ticker>",
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "ApiKeyQuery": []
          }
        ],
        "x-anonymous-access": "no",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "SPX"
            }
          },
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          }
        ]
      }
    },
    "/api/v1/compare/tickers": {
      "get": {
        "operationId": "compare.tickers",
        "summary": "compare.tickers (Edge)",
        "description": "`compare.tickers` capability. Requires the Edge plan or above. Advertised canonical route. Alias of GET /api/v1/research/compare/<ticker>.",
        "tags": [
          "compare"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid params / cursor).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required (anonymous caller on a credentialed route).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "402": {
            "description": "Upgrade required — plan tier below the capability's floor.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — role below the floor.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-plan-tier": "edge",
        "x-plan-tier-name": "Edge",
        "x-policy-key": "terminal",
        "x-aliases": "GET /api/v1/research/compare/<ticker>",
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "ApiKeyQuery": []
          }
        ],
        "x-anonymous-access": "no",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "SPX"
            }
          },
          {
            "name": "t1",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "open"
            }
          },
          {
            "name": "t2",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "now"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          }
        ]
      }
    },
    "/api/v1/greeks/vex": {
      "get": {
        "operationId": "greeks.vex",
        "summary": "greeks.vex (Edge)",
        "description": "`greeks.vex` capability. Requires the Edge plan or above. Advertised canonical route. Alias of GET /api/v1/research/vex/<ticker>.",
        "tags": [
          "greeks"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid params / cursor).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required (anonymous caller on a credentialed route).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "402": {
            "description": "Upgrade required — plan tier below the capability's floor.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — role below the floor.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-plan-tier": "edge",
        "x-plan-tier-name": "Edge",
        "x-policy-key": "terminal",
        "x-aliases": "GET /api/v1/research/vex/<ticker>",
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "ApiKeyQuery": []
          }
        ],
        "x-anonymous-access": "no",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "SPX"
            }
          },
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "at",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "latest"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          }
        ]
      }
    },
    "/api/v1/greeks/tex": {
      "get": {
        "operationId": "greeks.tex",
        "summary": "greeks.tex (Edge)",
        "description": "`greeks.tex` capability. Requires the Edge plan or above. Advertised canonical route. Alias of GET /api/v1/research/tex/<ticker>.",
        "tags": [
          "greeks"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid params / cursor).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required (anonymous caller on a credentialed route).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "402": {
            "description": "Upgrade required — plan tier below the capability's floor.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — role below the floor.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-plan-tier": "edge",
        "x-plan-tier-name": "Edge",
        "x-policy-key": "terminal",
        "x-aliases": "GET /api/v1/research/tex/<ticker>",
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "ApiKeyQuery": []
          }
        ],
        "x-anonymous-access": "no",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "SPX"
            }
          },
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "at",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "latest"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          }
        ]
      }
    },
    "/api/v1/greeks/charm": {
      "get": {
        "operationId": "greeks.charm",
        "summary": "greeks.charm (Pro)",
        "description": "`greeks.charm` capability. Requires the Pro plan or above. Advertised canonical route. Alias of GET /api/v1/research/charm/<ticker>.",
        "tags": [
          "greeks"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid params / cursor).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required (anonymous caller on a credentialed route).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "402": {
            "description": "Upgrade required — plan tier below the capability's floor.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — role below the floor.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-plan-tier": "pro",
        "x-plan-tier-name": "Pro",
        "x-policy-key": "charm",
        "x-aliases": "GET /api/v1/research/charm/<ticker>",
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "ApiKeyQuery": []
          }
        ],
        "x-anonymous-access": "no",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "SPX"
            }
          },
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "at",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "latest"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          }
        ]
      }
    },
    "/api/v1/greeks/rho": {
      "get": {
        "operationId": "greeks.rho",
        "summary": "greeks.rho (Edge)",
        "description": "`greeks.rho` capability. Requires the Edge plan or above. Advertised canonical route. Alias of GET /api/v1/research/rho/<ticker>.",
        "tags": [
          "greeks"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid params / cursor).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required (anonymous caller on a credentialed route).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "402": {
            "description": "Upgrade required — plan tier below the capability's floor.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — role below the floor.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-plan-tier": "edge",
        "x-plan-tier-name": "Edge",
        "x-policy-key": "terminal",
        "x-aliases": "GET /api/v1/research/rho/<ticker>",
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "ApiKeyQuery": []
          }
        ],
        "x-anonymous-access": "no",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "SPX"
            }
          },
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "at",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "latest"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          }
        ]
      }
    },
    "/api/v1/vol/smile": {
      "get": {
        "operationId": "vol.smile",
        "summary": "vol.smile (Edge)",
        "description": "`vol.smile` capability. Requires the Edge plan or above. Advertised canonical route. Alias of GET /api/v1/research/smile/<ticker>.",
        "tags": [
          "vol"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid params / cursor).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required (anonymous caller on a credentialed route).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "402": {
            "description": "Upgrade required — plan tier below the capability's floor.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — role below the floor.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-plan-tier": "edge",
        "x-plan-tier-name": "Edge",
        "x-policy-key": "terminal",
        "x-aliases": "GET /api/v1/research/smile/<ticker>",
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "ApiKeyQuery": []
          }
        ],
        "x-anonymous-access": "no",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "SPX"
            }
          },
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          }
        ]
      }
    },
    "/api/v1/vol/skew": {
      "get": {
        "operationId": "vol.skew",
        "summary": "vol.skew (Edge)",
        "description": "`vol.skew` capability. Requires the Edge plan or above. Advertised canonical route. Alias of GET /api/v1/research/skew/<ticker>.",
        "tags": [
          "vol"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid params / cursor).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required (anonymous caller on a credentialed route).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "402": {
            "description": "Upgrade required — plan tier below the capability's floor.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — role below the floor.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-plan-tier": "edge",
        "x-plan-tier-name": "Edge",
        "x-policy-key": "terminal",
        "x-aliases": "GET /api/v1/research/skew/<ticker>",
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "ApiKeyQuery": []
          }
        ],
        "x-anonymous-access": "no",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "SPX"
            }
          },
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          }
        ]
      }
    },
    "/api/v1/vol/garch": {
      "get": {
        "operationId": "vol.garch",
        "summary": "vol.garch (Pro)",
        "description": "`vol.garch` capability. Requires the Pro plan or above. Advertised canonical route. Alias of GET /api/v1/garch.json.",
        "tags": [
          "vol"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid params / cursor).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required (anonymous caller on a credentialed route).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "402": {
            "description": "Upgrade required — plan tier below the capability's floor.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — role below the floor.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-plan-tier": "pro",
        "x-plan-tier-name": "Pro",
        "x-policy-key": "quant_models",
        "x-aliases": "GET /api/v1/garch.json",
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "ApiKeyQuery": []
          }
        ],
        "x-anonymous-access": "no",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "SPX"
            }
          },
          {
            "name": "horizon",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "5"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          }
        ]
      }
    },
    "/api/v1/vol/regime": {
      "get": {
        "operationId": "vol.regime",
        "summary": "vol.regime (Pro)",
        "description": "`vol.regime` capability. Requires the Pro plan or above. Advertised canonical route. Alias of GET /api/v1/regime.json.",
        "tags": [
          "vol"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid params / cursor).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required (anonymous caller on a credentialed route).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "402": {
            "description": "Upgrade required — plan tier below the capability's floor.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — role below the floor.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-plan-tier": "pro",
        "x-plan-tier-name": "Pro",
        "x-policy-key": "quant_models",
        "x-aliases": "GET /api/v1/regime.json",
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "ApiKeyQuery": []
          }
        ],
        "x-anonymous-access": "no",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "SPX"
            }
          },
          {
            "name": "states",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "auto"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          }
        ]
      }
    },
    "/api/v1/vix/internals": {
      "get": {
        "operationId": "vix.internals",
        "summary": "vix.internals (Pro)",
        "description": "`vix.internals` capability. Requires the Pro plan or above. Advertised canonical route. Alias of GET /api/v1/vix.json.",
        "tags": [
          "vix"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid params / cursor).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required (anonymous caller on a credentialed route).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "402": {
            "description": "Upgrade required — plan tier below the capability's floor.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — role below the floor.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-plan-tier": "pro",
        "x-plan-tier-name": "Pro",
        "x-policy-key": "vix_internals",
        "x-aliases": "GET /api/v1/vix.json",
        "security": [
          {
            "ApiKeyBearer": []
          },
          {
            "ApiKeyQuery": []
          }
        ],
        "x-anonymous-access": "no",
        "parameters": [
          {
            "name": "range",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "6m"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          }
        ]
      }
    },
    "/api/v1/ta/indicators": {
      "get": {
        "operationId": "ta.indicators",
        "summary": "ta.indicators (Edge)",
        "description": "`ta.indicators` capability. Requires the Edge plan or above. Advertised canonical route. Alias of GET /api/v1/indicators.json.",
        "tags": [
          "ta"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
[...]
